
/* lighening system */
.lighting {
    width: 100%;
    height: 20%;
    margin: 20px 0;
    /* border-top: 1px solid rgba(202, 215, 230, 0.616); */
    /* border-bottom: 1px solid rgba(212, 221, 231, 0.616); */
}

.light-list {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 5px;
}

.light-list li {
    list-style: none;
    height: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    border-radius: 20px;
}

.light-list li div {
    height: 90%;
    width: 100%;
    border-radius: 20px;
}

/* Add light class */

.track .track-box {
    background:rgba(3, 59, 59, 0.8);
    border: 1px solid rgba(0, 255, 255, 0.5);
}

.track .track-box:hover {
    background:rgba(11, 143, 143, 0.8);
    border: 1px solid rgba(12, 14, 14, 0.5);
}

.track .box-play-bg {
    background: transparent;
}

.track .track-box .box-play-main-bg {
    background: cyan;
    color: black;
}

.track-box .pad-added {
    background: rgba(0, 255, 255, 0.3);
    color: rgb(0, 0, 0);
    border: none;
}

